:root {
  --primary: #0d6efd;
  --primary-dark: #0b5ed7;
  --primary-light: #e3f0ff;
  --secondary: #00b517;
  --orange: #f38332;
  --gray-100: #f7fafc;
  --gray-200: #e3e8ee;
  --gray-400: #9da1a7;
  --gray-600: #505050;
  --dark: #1c1c1c;
  --white: #ffffff;
  --primary-lighter: #d1e7ff;
  --font-main: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  background-color: var(--gray-100);
  color: var(--dark);
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.card {
  background: var(--white);
  border: 1px solid var(--gray-200);
  border-radius: 6px;
}

.btn-light {
  background-color: var(--white);
  color: var(--dark);
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.btn-outline {
  margin-top: 8px;
  background-color: white;
  border: 1px solid var(--gray-200);
  color: var(--primary);
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}
.icon-hover :hover {
  color: var(--primary);
}

header {
  background-color: var(--white);
  border-bottom: 1px solid var(--gray-200);
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  gap: 40px;
}

.search-bar {
  flex: 1;
  display: flex;
  border: 2px solid var(--primary);
  border-radius: 6px;
  overflow: hidden;
}
.category-select {
  margin-right: 5px;
}

.search-bar input {
  flex: 1;
  border: none;
  padding: 10px;
  outline: none;
}

.search-bar select {
  border: none;
  border-left: 1px solid var(--primary);
  padding: 0 7px;
  outline: none;
  background: var(--white);
}

.search-bar button {
  border-radius: 0;
  padding: 0 25px;
}

.header-actions {
  display: flex;
  gap: 20px;
  color: var(--gray-400);
}

.action-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.action-item i {
  font-size: 18px;
  margin-bottom: 5px;
}

.navbar {
  border-top: 1px solid var(--gray-200);
  padding: 15px 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 25px;
  font-weight: 500;
}

.nav-extras span {
  padding-left: 20px;
}

.nav-extras {
  display: flex;
  gap: 5px;
  color: var(--dark);
}

.main-container {
  margin-top: 20px;
  margin-bottom: 40px;
}

.hero-section {
  display: grid;
  grid-template-columns: 250px 1fr 230px;
  gap: 20px;
  background: var(--white);
  border: 1px solid var(--gray-200);
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 20px;
}

.sidebar-menu li {
  padding: 10px;
  color: var(--gray-600);
  cursor: pointer;
  border-radius: 6px;
}

.sidebar-menu li:hover,
.sidebar-menu li.active {
  background-color: var(--primary-light);
  color: var(--dark);
  font-weight: 500;
}
.banner-img {
  height: 100%;
  border-radius: 6px;
}

.banner {
  position: relative;
  background-color: var(--primary-light);
  display: flex;
  justify-content: space-between;
}
.banner-content {
  padding-top: 40px;
  position: absolute;
  padding-left: 30px;
}
.banner-content h2 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}

.banner-content strong {
  font-weight: 800;
}
.usercard {
  background: #e3f0ff;
  padding: 15px 10px;
  border-radius: 6px;
}
.user-card {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.avatar {
  width: 45px;
  height: 45px;
  background: #c7e1ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.promo-box {
  padding: 15px;
  color: white;
  border-radius: 6px;
  font-size: 14px;
  margin-top: 5px;
}
.color-orange {
  background: var(--orange);
}
.color-teal {
  background: #55bdc3;
}

.deals-section {
  display: flex;
  margin-bottom: 20px;
  overflow: hidden;
}

.deals-timer {
  width: 280px;
  padding: 20px;
  border-right: 1px solid var(--gray-200);
}
.deals-timer p {
  color: var(--gray-400);
}
.timer-boxes {
  display: flex;
  gap: 6px;
  margin-top: 15px;
}

.timer-box {
  background: var(--gray-600);
  color: white;
  border-radius: 4px;
  width: 45px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.timer-box small {
  font-size: 10px;
  font-weight: normal;
}

.deals-grid {
  flex: 1;
  display: flex;
}

.deal-item {
  flex: 1;
  border-right: 1px solid var(--gray-200);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.deal-item img {
  margin-bottom: 10px;
  height: 100%;
}
.badge {
  background: #ffe3e3;
  color: #eb001b;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}

h3 {
  margin: 20px 0;
}

.heading-Recommended {
  margin: 30px 0 20px 0;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.product-card {
  background: var(--white);
  border: 1px solid var(--gray-200);
  border-radius: 6px;
  padding: 15px;
}

.product-card img {
  margin: 0 auto 15px;
  height: 150px;
  object-fit: contain;
}

.card-details .price {
  font-weight: bold;
  margin-bottom: 5px;
}

.card-details .desc {
  color: var(--gray-400);
  font-size: 14px;
  line-height: 1.4;
}

.bg-grid {
  margin: 20px 0;
}

.short-item {
  display: flex;
}

.short-grid {
  position: relative;
  flex-basis: 250px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 6px 0 0 6px;
}

.short-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.buttn {
  width: 47%;
}
.short-item-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--dark);
}
.short-item-bg h3 {
  margin-bottom: 10px;
}

.short-item-grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 0 6px 6px 0;
}

.short-card {
  border: 1px solid var(--gray-200);
  display: flex;
  padding: 10px;
  padding-bottom: 0;
  justify-content: space-between;
  background-color: var(--white);
}
.short-card img {
  max-width: 80px;
  max-height: 80px;
  object-fit: contain;
  margin-top: 10px;
}
.short-card span {
  color: var(--gray-400);
  font-size: 12px;
}

.request-section {
  background-image: url("./assets/Image/backgrounds/Group 982.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 6px;
  margin: 20px 0;
  padding: 30px;
  color: white;
}

.requestsection {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  position: static;
}

.request-bg {
  flex: 1;
  padding-right: 0;
  padding-top: 20px;
}
.request-bg h2 {
  padding-bottom: 20px;
}

.request-form {
  background: white;
  padding: 20px;
  border-radius: 6px;
  color: var(--dark);
  width: 350px;
  width: 450px;
}

.request-form h4 {
  margin-bottom: 15px;
}

.request-form input,
.request-form textarea,
.request-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--gray-200);
  border-radius: 6px;
  margin-bottom: 15px;
  font-family: inherit;
}
.form-row select {
  width: 30%;
}
.form-row input {
  width: 40%;
}
.form-row {
  display: flex;
  gap: 10px;
}

.submit-form {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  width: 30%;
  margin-top: 5px;
}

.extra-services {
  padding-bottom: 30px;
}

.extra-services h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--dark);
  padding-left: 10px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 10px;
}

.service-card {
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.card-image-wrapper {
  position: relative;
  height: 150px;
}

.card-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon-circle {
  position: absolute;
  bottom: -15px;
  right: 15px;

  width: 50px;
  height: 50px;
  background-color: var(--primary-lighter);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--dark);
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service-title {
  padding: 25px 15px 15px;
  font-size: 16px;
  line-height: 1.4;
  color: var(--dark);
  min-height: 60px;
}

.newsletter {
  background: var(--gray-200);
  padding: 40px 0;
  text-align: center;
}

.input-group {
  display: flex;
  width: 280px;
  background: white;
  border: 1px solid var(--gray-200);
  border-radius: 6px;
  padding: 5px;
  align-items: center;
}

.input-group i {
  padding: 0 5px;
  color: var(--gray-400);
}
.input-group input {
  border: none;
  flex: 1;
  outline: none;
}
.input-btn {
  gap: 5px;
  margin: 20px 0;
  justify-content: center;
  display: flex;
}

.suppliers-section {
  max-width: 1200px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  padding-left: 10px;
}

.suppliers-section h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #1c1c1c;
}

.suppliers-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.supplier-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.supplier-item img {
  width: 28px;
  height: 20px;
  object-fit: cover;
}

.supplier-item .info .country {
  margin: 0;
  font-size: 16px;
  color: #1c1c1c;
}

.supplier-item .info .url {
  margin: 0;
  font-size: 13px;
  color: #8b96a5;
}

@media (max-width: 768px) {
  .suppliers-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

footer {
  background: var(--white);
  padding-top: 40px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding-bottom: 40px;
}

.brand-col p {
  color: var(--gray-600);
  font-size: 14px;
  margin: 15px 0;
}

.socials i {
  font-size: 25px;
  color: var(--gray-400);
  margin-right: 10px;
  cursor: pointer;
}

.footer-col h4 {
  margin-bottom: 15px;
}
.footer-col ul li {
  color: var(--gray-400);
  margin-bottom: 8px;
  font-size: 14px;
  cursor: pointer;
}
.app-btn span {
  font-size: 10px;
  padding-left: 18px;
}
.btn-text {
  font-size: 18px;
}
.btn-text i {
  font-size: 22px;
}
.app-btn {
  background: black;
  color: white;
  border: none;
  width: 100%;
  padding: 0px 0px 6px 6px;
  border-radius: 6px;
  margin-bottom: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.footer-bottom {
  background: var(--gray-200);
  padding: 15px 0;
  border-top: 1px solid var(--gray-200);
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-600);
}
.lang-selector {
  display: flex;
  gap: 8px;
  align-items: center;
}
.en {
  background-color: var(--gray-200);
  border: none;
}
